# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.LastSheepStanding.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity_Projects\LastSheepStanding\.idea\.idea.LastSheepStanding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
